# App
APP_STAGE_STATUS=development
APP_DEBUG=false
# JWT
JWT_SECRET_KEY=changeme_jwt_secret

# MongoDB
MONGO_INITDB_ROOT_USERNAME=vibec2
MONGO_INITDB_ROOT_PASSWORD=changeme_mongo
MONGO_INITDB_DATABASE=vibec2
MONGO_URI=mongodb://vibec2:changeme_mongo@localhost:27018
MONGO_DATABASE=vibec2

# RabbitMQ
RABBITMQ_DEFAULT_USER=vibec2
RABBITMQ_DEFAULT_PASS=changeme_rabbitmq
RABBITMQ_ERLANG_COOKIE=vibec2_erlang_cookie
APP_RABBITMQ_HOST=localhost
APP_RABBITMQ_PORT=5672

# SeaweedFS
SEAWEEDFS_S3_ACCESS_KEY=vibec2
SEAWEEDFS_S3_SECRET_KEY=changeme_seaweedfs
SEAWEEDFS_S3_ENDPOINT=http://localhost:8333
